<div id="nav">
  <ul>
	<li><%= link_to "Calculate", root_path  %></li>
	<li><%= link_to "Test", test_setup_path %></li>
	<li><%= link_to "Save", save_path %></li>
	<li><%= link_to "Load", load_path %></li>
  </ul>
</div>
