<div id="nav">
  <ul>
	<li><%= link_to "Calculate", :controller => "calculate", :action => "index"  %></li>
	<li><%= link_to "Test", :controller => "test", :action => "setup" %></li>
	<li><%= link_to "Save", :controller => "calculate", :action => "save" %></li>
  </ul>
</div>
